<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>scissor</title>
	<link rel="stylesheet" href="/stylesheets/user.css">
</head>

<body>
	<nav class="nav">
		<div class="user">
			<%= user %>
		</div>
		<div>
			<form action="https://titly.onrender.com/auth/logout" method="post">
				<button class="logout" type="submit">Sign out</button>
			</form>
		</div>
		</ul>
	</nav>

	<header class="header">
		<h1>scissior</h1>
		<div class="container">
			<h1>Shorten a long link</h1>
			<form action="/api/shorten" method="POST">
				<div class="form-group">
					<label for="originalUrl">Original URL:</label>
					<input type="text" id="originalUrl" name="originalUrl" placeholder="Enter the original URL"
						required>
				</div>
				<div class="form-group">
					<input type="submit" value="Create Short Link">
				</div>
			</form>
		</div>
	</header>

	<ul class="url-list">
		<h1>Links</h1>
		<% urls.forEach(function(url) { %>
			<div class="url-box">
			<!-- <a href="<%= url.originalUrl  %>"> -->
				<p class="shortened-url"><%= url.shortenedUrl  %></p>
			<!-- </a>	 -->
			<a href="<%= url.originalUrl  %>">
				<p class="original-url"><%= url.originalUrl %></p>
			</a>
				<span>
					<p class="clicks">Clicks: <%= url.clicks.length %></p>
					<p class="date"><%= url.createdAt %></p>
				</span>
			</div>
			<% }); %>
	</ul>
</body>

</html>